:root {
  --body: rgb(62, 187, 240);
  --color_1: rgb(232, 232, 232);
  --color_2: rgba(0, 212, 255, 0.8);
  --color_3: rgba(18, 231, 46, 0.5);
  --color_4: rgb(50, 53, 72);
  --color_5: rgb(18, 231, 48);
  --color_6: rgb(0, 212, 255);
  --color_7: rgba(62, 187, 240, 0.1);
  --color_8: rgb(255, 255, 255);
  --color_9: rgba(50, 53, 72, 0.25);
  --color_10: rgba(20, 161, 222, 0.9);
  --color_11: #d8d8d882;
  --size_1: 20px;
  --size_2: 18px;
  --size_3: 25px;
}